name: Release Workflows Charts

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "charts/**"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: masayag/chart-releaser-action@main
        with:
          skip_existing: true
#         index_path: ./index.yaml
          pages_index_path: ./docs/index.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
